button {
    padding: 4px 8px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textListContainer {
    margin-top: 30px;
    padding: 8px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    display: flex;
    gap: 0.7rem;
}

input {
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    background-color: aliceblue;
}