:root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-container {
    display: flex;
		flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}